<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Servizi indirizzo</title>
<style type="text/css">
	body{
		color:white;
		min-height: 100vh;
		font-family: 'Jost', sans-serif;
		background: linear-gradient(to right, 
    hsl(199 100% 40%), 
    hsl(256 100% 50%));
	}
	.cont{
		width:40vh;
		display:block;
		justify-content: center;
		text-align: left;
		border-radius: 10px;
		padding:10px;
		margin : 20px;
		box-shadow: 2px 10px 25px #000;
	}
	a {
	    display:block;
	    padding: 15px 30px;
	    color: white;
	    margin-left:1vh;
	    margin-right:1vh;
	    text-transform: uppercase;
	    letter-spacing: 4px;
	    text-align:center;
	    text-decoration: none;
	    font-size: 18px;
	    overflow: hidden;
	    transition: 0.2s;
	    border-radius: 5px;
	}
	a:hover {
	    color: black;
	    background: white;
	    box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
	}
	.menu{
		position: fixed;
		text-align:center;
		align-items:center;
		right:1%;
		top:1%;
		width:80vh;
		height: 8%;
		min-height: 20px;
		border-radius: 10px;
		margin : 20px;
		box-shadow: 1px 4px 8px #000;
	}
	.column {
		text-align:left;
	  	float: left;
	 	width: 33.33%;
	}

	.row:after {
	  	content: "";
	  	display: table;
	  	clear: both;
	}
	.back{
		position: fixed;
		text-align:center;
		align-items:center;
		right:10%;
		bottom:10%;
		width:30vh;
		height: 8%;
		min-height: 20px;
		border-radius: 10px;
		margin : 20px;
		box-shadow: 1px 4px 8px #000;
	}
</style>
</head>
<body>
		<div th:each="item : ${addresses}">
			<div class="cont">
				<p>ID : <span th:text="${item.id}"></span></p>
				<p>Cliente : <span th:text="${item.customer.businessName}"></span></p>
				<p>Citt&agrave : <span th:text="${item.city.name}"></span>(<span th:text="${item.city.province.acronym}"></span>)</p>
				<p>indirizzo : <span th:text="${item.postalCode}"></span> <span th:text="${item.street}"></span>, <span th:text="${item.locality}"></span>, n°<span th:text="${item.houseNumber}"></span></p>
				<p>Uso : <span th:text="${item.use}"></span></p>
			</div>
		</div>
		
		<div class="menu">
			 <div class="row">
		 		 <div class="column">
					<a href="/addrmvc/aggiungi">Aggiungi</a>
		 		 </div>
		 		 <div class="column">
					<a href="/addrmvc/modifica">Modifica</a>
		 		 </div>
		 		 <div class="column">
					<a href="/addrmvc/rimuovi">Elimina</a>
		 		 </div>
	 		 </div>
		</div>
		
		<div class="back">
			<a href="/mvc/home">Home</a>
		</div>
</body>
</html>