<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Servizi contatto</title>
<style type="text/css">
	body{
		color:white;
		min-height: 100vh;
		font-family: 'Jost', sans-serif;
		background: linear-gradient(to right, 
    hsl(199 100% 40%), 
    hsl(256 100% 50%));
	}
	.main{
		justify-content: center;
		text-align: left;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 5px 20px 50px #000;
	}
	.cont{
		width:40vh;
		display:block;
		justify-content: center;
		text-align: left;
		border-radius: 10px;
		padding:10px;
		margin : 20px;
		box-shadow: 2px 10px 25px #000;
	}
	a {
	    display:block;
	    padding: 15px 30px;
	    color: white;
	    margin-left:1vh;
	    margin-right:1vh;
	    text-transform: uppercase;
	    letter-spacing: 4px;
	    text-align:center;
	    text-decoration: none;
	    font-size: 18px;
	    overflow: hidden;
	    transition: 0.2s;
	    border-radius: 5px;
	}
	a:hover {
	    color: black;
	    background: white;
	    box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
	}
	.menu{
		position: fixed;
		text-align:center;
		align-items:center;
		right:1%;
		top:1%;
		width:80vh;
		height: 8%;
		min-height: 20px;
		border-radius: 10px;
		margin : 20px;
		box-shadow: 1px 4px 8px #000;
	}
	.column {
		text-align:left;
	  	float: left;
	 	width: 33.33%;
	}

	.row:after {
	  	content: "";
	  	display: table;
	  	clear: both;
	}
	.back{
		position: fixed;
		text-align:center;
		align-items:center;
		right:10%;
		bottom:10%;
		width:30vh;
		height: 8%;
		min-height: 20px;
		border-radius: 10px;
		margin : 20px;
		box-shadow: 1px 4px 8px #000;
	}
</style>
</head>
<body>
	<div th:each="item : ${contacts}">
		<div class="cont">
			<p>ID : <span th:text="${item.id}"></span></p>
			<p>Nome : <span th:text="${item.name}"></span></p>
			<p>Cognome : <span th:text="${item.surname}"></span></p>
			<p>Email : <span th:text="${item.email}"></span></p>
			<p>Telefono : <span th:text="${item.phoneNumber}"></span></p>
			<p>Cliente di riferimento : <span th:text="${item.customer.businessName}"></span></p>
		</div>
	</div>
	
	<div class="menu">
		 <div class="row">
	 		 <div class="column">
				<a href="/contmvc/aggiungi">Aggiungi</a>
	 		 </div>
	 		 <div class="column">
				<a href="/contmvc/modifica">Modifica</a>
	 		 </div>
	 		 <div class="column">
				<a href="/contmvc/rimuovi">Elimina</a>
	 		 </div>
 		 </div>
	</div>
	
	<div class="back">
		<a href="/mvc/home">Home</a>
	</div>
</body>
</html>