<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EES Home</title>
<style type="text/css">
	body{
		justify-content:center;
		text-align: center;
		color:white;
		min-height: 100vh;
		font-family: 'Jost', sans-serif;
		background: linear-gradient(to right, 
    hsl(199 100% 40%), 
    hsl(256 100% 50%));
	}
	.column {
		margin-top:10vh;
		text-align:left;
	  	float: left;
	 	width: 33.33%;
	}

	.row:after {
	  	content: "";
	  	display: table;
	  	clear: both;
	}
	a {
	    position: relative;
	    display: inline-block;
	    padding: 15px 30px;
	    color: white;
	    text-transform: uppercase;
	    letter-spacing: 4px;
	    text-decoration: none;
	    font-size: 24px;
	    overflow: hidden;
	    transition: 0.2s;
	}
	a:hover {
	    color: black;
	    background: white;
	    box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
	}
</style>
</head>
<body>
	
	<div>
		<h2 th:text="${welcome}"></h2>
	</div>
	 <div class="row">
 		 <div class="column">
			<h3>Clienti</h3>
			<a href="/mvc/customers">Servizi clienti</a>
 		 </div>
 		 <div class="column">
 		 	<h3>Fatture</h3>
 		 	<a href="/mvc/bills">Servizi fatture</a>
 		 </div>
 		  		 <div class="column">
 		 	<h3>Fatture</h3>
 		 	<a href="/mvc/contacts">Servizi contatti</a>
 		 </div>
 		  		 <div class="column">
 		 	<h3>Fatture</h3>
 		 	<a href="/mvc/addresses">Servizi indirizzi</a>
 		 </div>
 		 <div class="column">
 		 	<h3>Citt&agrave</h3>
 		 	<a href="/mvc/cities">Servizi citt&agrave</a>
 		 </div>
 		 <div class="column">
 		 	<h3>Utenti</h3>
 		 	<a href="/mvc/users">Servizi utenti</a>
 		 </div>
 		  <div class="column">
 		 	<h3>Extra</h3>
 		 	<a href="/mvc/statistics">Elementi statistici</a>
 		 </div>
	</div> 
</body>
</html>