<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Servizi fattura</title>
<style type="text/css">
	body{
		display: flex;
		color:white;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		font-family: 'Jost', sans-serif;
		background: linear-gradient(to right, 
    hsl(199 100% 40%), 
    hsl(256 100% 50%));
	}
	.main{
		width: 50vh;
		justify-content: center;
		text-align: center;
		overflow: hidden;
		padding:5px;
		border-radius: 10px;
		box-shadow: 5px 20px 50px #000;
	}
	input{
		max-width:90%;
		max-height:70%;
		width: 90%;
		height: 50%;
		justify-content: center;
		display: flex;
		margin: 20px auto;
		padding: 10px;
		border: 1px solid gray;
		outline: none;
		border-radius: 5px;
	}
</style>
</head>
<body>

	<div class="main" th:if="${newBill}">	
		<form role="form" action="/billmvc/save" method="post" th:object="${bill}">
			<input type="hidden" th:value="${id}" name="id" />
			<label for="year">Anno di fatturazione</label>
			<input type="number" th:field="*{year}" name="year" required/>
			<label for="month">Mese di fatturazione</label>
			<input type="number" th:field="*{month}" name="month" required/>
			<label for="day">Giorno di fatturazione</label>
			<input type="number" th:field="*{day}" name="day" required/>
			<label for="amount">Valore</label>
			<input type="number" step="0.01" th:field="*{amount}" name="amount" required>
			<label for="number">Numero fatturazione</label>
			<input type="number" th:field="*{number}" name="number" required>
			<label for="customerId">ID cliente di riferimento</label>
			<input type="number" th:field="*{customerId}" name="customerId" required>
			<label for="status">Stato di fatturazione</label>
			<select th:field="*{status}">
				<option th:each="item :${statuses}" th:value="${item.status}" th:text="${item.status}"></option>
			</select>
			<input type="submit" value="Salva">
		</form>
	</div>
	
	<div class="main" th:if="${update}">
		<form role="form" action="/billmvc/update" method="post" th:object="${bill}">
			<label for="id">ID</label>
			<input type="number" th:field="*{id}" name="id" required/>
			<label for="year">Anno di fatturazione</label>
			<input type="number" th:field="*{year}" name="year"/>
			<label for="month">Mese di fatturazione</label>
			<input type="number" th:field="*{month}" name="month"/>
			<label for="day">Giorno di fatturazione</label>
			<input type="number" th:field="*{day}" name="day"/>
			<label for="amount">Valore</label>
			<input type="number" step="0.01" th:field="*{amount}" name="amount">
			<label for="number">Numero fatturazione</label>
			<input type="number" th:field="*{number}" name="number">
			<label for="customerId">ID cliente di riferimento</label>
			<input type="number" th:field="*{customerId}" name="customerId">
			<label for="status">Stato di fatturazione</label>
			<select th:field="*{status}">
				<option th:each="item :${statuses}" th:value="${item.status}" th:text="${item.status}"></option>
			</select>
			<input type="submit" value="Modifica">
		</form>
	</div>
	
	<div class="main" th:if="${delete}">
		<form role="form" action="/billmvc/delete" method="post">
			<label for="id">ID:</label>
			<input type="number" name="id" required/>
			<input type="submit" value="Rimuovi">
		</form>
	</div>
	
</body>
</html>