<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer Service</title>
<style type="text/css">
	body{
		display: flex;
		color:white;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		font-family: 'Jost', sans-serif;
		background: linear-gradient(to right, 
    hsl(199 100% 40%), 
    hsl(256 100% 50%));
	}
	.main{
		width: 50vh;
		justify-content: center;
		text-align: center;
		overflow: hidden;
		padding:5px;
		border-radius: 10px;
		box-shadow: 5px 20px 50px #000;
	}
	input{
		max-width:90%;
		max-height:70%;
		width: 90%;
		height: 50%;
		justify-content: center;
		display: flex;
		margin: 20px auto;
		padding: 10px;
		border: 1px solid gray;
		outline: none;
		border-radius: 5px;
	}
</style>
</head>
<body>
	
	<div class="main" th:if="${newCust}">	
		<form role="form" action="/custmvc/save" method="post" th:object="${customer}">
			<input type="hidden" th:value="${id}" name="id" />
			<label for="businessName">Nome società </label>
			<input type="text"  name="businessName" th:field="*{businessName}"/>
			<label for="vatNumber">Partita IVA</label>
			<input type="text" name="vatNumber" th:field="*{vatNumber}" />
			<label for="businessEmail">Email</label>
			<input type="text" name="businessEmail" th:field="*{businessEmail}" />
			<label for="pec">Pec:</label>
			<input type="text" name="pec" th:field="*{pec}" />
			<label for="phoneNumber">Numero di telefono</label>
			<input type="text" name="phoneNumber" th:field="*{phoneNumber}" />
			<label for="annualRevenue">Fatturato annuale</label>
			<input type="number" step="0.01" name="annualRevenue" th:field="*{annualRevenue}" />
			<label for="type">Tipo di società</label>
			<select th:field="*{type}">
				<option th:each="item :${types}" th:value="${item.type}" th:text="${item.type}"></option>
			</select>
			<input type="submit" value="Salva">
		</form>
	</div>
	
	<div class="main" th:if="${update}">
		<form role="form" action="/custmvc/update" method="post" th:object="${customer}">
			<label for="id">ID</label>
			<input type="number" th:field="*{id}" name="id" required/>
			<label for="businessName">Nome società</label>
			<input type="text" maxlength="50" name="businessName" th:field="*{businessName}"/>
			<label for="vatNumber">Partita IVA</label>
			<input type="text" name="vatNumber" th:field="*{vatNumber}" />
			<label for="businessEmail">Email</label>
			<input type="text" name="businessEmail" th:field="*{businessEmail}" />
			<label for="pec">Pec</label>
			<input type="text" name="pec" th:field="*{pec}" />
			<label for="phoneNumber">Numero di telefono</label>
			<input type="text" name="phoneNumber" th:field="*{phoneNumber}" />
			<label for="annualRevenue">Fatturato annuale</label>
			<input type="number" step="0.01" name="annualRevenue" th:field="*{annualRevenue}" />
			<label for="type">Tipo di società</label>
			<select th:field="*{type}">
				<option th:each="item :${types}" th:value="${item.type}" th:text="${item.type}"></option>
			</select>
			<input type="submit" value="Modifica">
		</form>
	</div>
	
	<div class="main" th:if="${delete}">
		<form role="form" action="/custmvc/delete" method="post">
			<label for="id">ID:</label>
			<input type="number" name="id" required/>
			<input type="submit" value="Rimuovi">
		</form>
	</div>
	
</body>
</html>